Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [1]:
def is_symmetrical(n):
    if str(n)==str(n)[::-1]:
        return True
    return False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.

In [9]:
def multiply_nums(s):
    lst=s.split(', ')
    p=1
    for i in lst:
        p*=int(i)
    return p

In [10]:
multiply_nums("2, 3")

6

In [11]:
multiply_nums("1, 2, 3, 4")

24

In [12]:
multiply_nums("54, 75, 453, 0")

0

In [13]:
multiply_nums("10, -2")

-20

Question 3
Create a function that squares every digit of a number.

In [18]:
def square_digits(n):
    s=''
    for i in str(n):
        s+=str(int(i)**2)
    return int(s)

In [19]:
square_digits(9119)

811181

In [20]:
square_digits(2483)

416649

In [21]:
square_digits(3212)

9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.

In [22]:
def setify(lst):
    return sorted(list(set(lst)))

In [23]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [24]:
setify([4, 4, 4, 4])

[4]

In [25]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [26]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.

In [29]:
def mean(n):
    s=0
    lst=list(str(n))
    for i in lst:
        s+=int(i)
    return s//len(lst)

In [30]:
mean(42)

3

In [31]:
mean(12345)

3

In [32]:
mean(666)

6